# --------------------------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# --------------------------------------------------------------------------------------------

[Unit]
Description= aznfs watchdog for NFSv3 mounts
  
Before=
After=

[Service]
User=root

ExecStart=/usr/sbin/aznfswatchdog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target