[Unit]
Description= azfs watchdog for NFSv3 mounts

# [TODO] Discuss before/after which processes watchdog needs to be started.  
Before=
After=

[Service]
User=root

#Environment variables
# [TODO] Does AZFS_IP_PREFIXES var need to be set here? 

ExecStart=usr/sbin/azfswatchdog
Restart=always

[Install]
WantedBy=multi-user.target