# --------------------------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# --------------------------------------------------------------------------------------------

#
# Release workflow for Mount Helper Script.
#

name: Create Official Release

on:
  workflow_dispatch:
    inputs:
      versionName:
        description: 'Version Name'
        required: true
      buildType:
        type: choice
        description: 'Build Type'
        options:
        - Release
        - Debug
        default: 'Release'

permissions:
  contents: write

jobs:
  verify_branch_name:
    name: Verify Branch Name
    runs-on: ubuntu-22.04
    steps:
    - name: Extract Branch Name
      run: | 
        echo "branch_name=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV
    - name: Print Branch Name
      run: |
        echo "Release workflow will run for branch ${{ env.branch_name }}"
    - name: Verify Branch Name
      if: "!startsWith(env.branch_name, 'release/aznfs')"
      run: |
        echo "This workflow can be run only for release/aznfs* branch!"
        echo "Branch Name: ${{ env.branch_name }}"
        echo "Version: ${{ github.event.inputs.versionName }}"
        exit 1

  package_mount_helper_amd64:
    name: Package and Release ${{ github.event.inputs.versionName }} for amd64
    runs-on: ubuntu-22.04
    needs: verify_branch_name
    steps:
    - name: Check Version Number
      shell: bash
      run: |
        versionName=${{ github.event.inputs.versionName }}
        if echo $versionName | grep -q "^0\."; then 
            echo "Official Release version cannot be of the form 0.y.z" 
            false
        fi
    - name: Install patchelf
      shell: bash
      run: |
        sudo apt update
        sudo apt install -y patchelf
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        path: amd64
    - name: Run Package.sh
      shell: bash
      run: |
        export RELEASE_NUMBER=${{ github.event.inputs.versionName }}
        export STG_DIR=$GITHUB_WORKSPACE/amd64
        export SOURCE_DIR=$GITHUB_WORKSPACE/amd64
        export BUILD_TYPE=${{ github.events.inputs.buildType }}
        export BUILD_MACHINE=ubuntu
        chmod +x $SOURCE_DIR/package.sh
        $SOURCE_DIR/package.sh
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ github.event.inputs.versionName }}
        tag_name: ${{ github.event.inputs.versionName }}
        target_commitish: ${{ github.sha }}
        files: |
          ${{ github.workspace }}/amd64/deb/aznfs-${{ github.event.inputs.versionName }}-1_amd64.deb
          ${{ github.workspace }}/amd64/rpm/root/rpmbuild/RPMS/x86_64/aznfs-${{ github.event.inputs.versionName }}-1.x86_64.rpm
          ${{ github.workspace }}/amd64/suse/root/rpmbuild/RPMS/x86_64/aznfs_sles-${{ github.event.inputs.versionName }}-1.x86_64.rpm
          ${{ github.workspace }}/amd64/stunnel/root/rpmbuild/RPMS/x86_64/aznfs_stunnel_custom-${{ github.event.inputs.versionName }}-1.x86_64.rpm
          ${{ github.workspace }}/amd64/scripts/aznfs_install.sh
          ${{ github.workspace }}/amd64/tarball/aznfs-${{ github.event.inputs.versionName }}-1.x86_64.tar.gz
        body: |
          New Release ${{ github.event.inputs.versionName }}

  package_mount_helper_azurelinux:
    name: Package and Release ${{ github.event.inputs.versionName }} for azurelinux
    runs-on: AzureLinux-3.0
    needs: verify_branch_name
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        path: azurelinux
    - name: Run Package.sh for azurelinux
      run: |
        export RELEASE_NUMBER=${{ github.event.inputs.versionName }}
        export STG_DIR=$GITHUB_WORKSPACE/azurelinux
        export SOURCE_DIR=$GITHUB_WORKSPACE/azurelinux
        export BUILD_TYPE=${{ github.events.inputs.buildType }}
        export BUILD_MACHINE=azurelinux
        chmod +x $SOURCE_DIR/package.sh
        $SOURCE_DIR/package.sh
    - name: Create Release (azurelinux)
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ github.event.inputs.versionName }}
        tag_name: ${{ github.event.inputs.versionName }}
        target_commitish: ${{ github.sha }}
        files: |
          ${{ github.workspace }}/azurelinux/rpm/root/rpmbuild/RPMS/x86_64/aznfs-azurelinux-${{ github.event.inputs.versionName }}-1.x86_64.rpm
          ${{ github.workspace }}/azurelinux/deb/aznfs-azurelinux-${{ github.event.inputs.versionName }}-1_amd64.deb
        body: |
          New Release ${{ github.event.inputs.versionName }}

  package_mount_helper_arm64:
    name: Package and Release ${{ github.event.inputs.versionName }} for arm64
    runs-on: ubuntu-22.04-arm
    needs: verify_branch_name
    steps:
    - name: Check Version Number
      shell: bash
      run: |
        versionName=${{ github.event.inputs.versionName }}
        if echo $versionName | grep -q "^0\."; then 
            echo "Official Release version cannot be of the form 0.y.z" 
            false
        fi
    - name: Install patchelf
      shell: bash
      run: |
        sudo apt update
        sudo apt install -y patchelf
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        path: arm64
    - name: Run Package.sh
      shell: bash
      run: |
        export RELEASE_NUMBER=${{ github.event.inputs.versionName }}
        export STG_DIR=$GITHUB_WORKSPACE/arm64
        export SOURCE_DIR=$GITHUB_WORKSPACE/arm64
        export BUILD_TYPE=${{ github.events.inputs.buildType }}
        chmod +x $SOURCE_DIR/package.sh
        $SOURCE_DIR/package.sh
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ github.event.inputs.versionName }}
        tag_name: ${{ github.event.inputs.versionName }}
        target_commitish: ${{ github.sha }}
        files: |
          ${{ github.workspace }}/arm64/deb/aznfs-${{ github.event.inputs.versionName }}-1_arm64.deb
          ${{ github.workspace }}/arm64/rpm/root/rpmbuild/RPMS/aarch64/aznfs-${{ github.event.inputs.versionName }}-1.aarch64.rpm
          ${{ github.workspace }}/arm64/suse/root/rpmbuild/RPMS/aarch64/aznfs_sles-${{ github.event.inputs.versionName }}-1.aarch64.rpm
          ${{ github.workspace }}/arm64/stunnel/root/rpmbuild/RPMS/aarch64/aznfs_stunnel_custom-${{ github.event.inputs.versionName }}-1.aarch64.rpm
          ${{ github.workspace }}/arm64/tarball/aznfs-${{ github.event.inputs.versionName }}-1.aarch64.tar.gz
        body: |
          New Release ${{ github.event.inputs.versionName }}


# TODO: Add for arm64 too.